<%= simple_form_for(@product) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :name %>
  <%= f.association :brand %>
  <%= f.association :category %>
  <%= f.input :price, input_html: {min: 0} %>
  <%= f.input :quantity, input_html: {min: 0} %>
  <%= f.input :description, as: :trix_editor %>
  <% if @product.avatar.exists? %>
  <% image_tag @product.avatar.url(:medium) %>
  <% end %>
  <%= f.input :avatar, as: :file %>
</div>

<div class="form-actions text-center">
  <%= f.button :submit, label: 'New Item', class: "btn btn-small btn-success"%>
</div>
<% end %>
